@font-face {
    font-family: "MyriadPro";
    src: url("../Fonts/MyriadPro-Regular.otf");

}

@font-face {
    font-family: "Poppins";
    src: url("../Fonts/Poppins-Regular.otf");
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins";
    box-sizing: border-box;
    text-emphasis: none;
   
}

body {
    background: rgba(54, 49, 49, 0.726);
    padding: 5px 0.5% 5px 0.5%;
    width: 100%;
}

.hiddeComputer{
    display: none;
}


/*  our*/
.containerOur {
    background-image: url("../Fonts/images/pexels-photo-1319462.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border: solid rgb(32, 32, 32) 1px;
}

.our {
    background-color: rgba(200, 164, 170, 0.9);
    padding-top : 16%;
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: #ffff;

}

.our .title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size : 3em;
    margin-bottom: 5%;
}

.our .text img{
    height: 100px;
    width: 120px ;
    position: absolute;
    bottom: 50%;
    left: 50%;
}

.our .text {
    margin-bottom: 5%;
}

.our .button {
    margin: auto;
    width: 0; 
    height: 0; 
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #212023;
    
}

.our .button:hover {
    cursor: pointer;
}
/* Gallery */
.containerGallery{
    background: black;
    padding: 5% ;
}
.gallery img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.gallery > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Extras */
.containerExtras {
    background: white;

}
.extras {
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: black;
}
.extras  .one {
    margin-top: 10%;
}
.extras  .two {
    margin-top: 5%;
    margin-bottom: 10%;
}
.extras .img {
    text-align: center;
}
.extras img {
    width: 300px;
    height: 300px;
}
.extras h2{
    overflow: hidden;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
.extras p{
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    font-size: 1em;
    font-weight: bold;
}
.extras .title {
    padding-top: 10%;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 768px){


    .hiddeComputer{
        display: initial;
    }
    .our{
        padding-top:0;
    }
    .imgGood img{
        width: 200px;
    }

    .gallery img {
        width: 200px;
        height: 150px;

    }
}

@media screen and (max-width: 576px) {
    .gallery img {
        width: 390px;
        height: 250px;

    }
    .extras p{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;

    }
}