@font-face {
    font-family: "MyriadPro";
    src: url("../Fonts/MyriadPro-Regular.otf");

}

@font-face {
    font-family: "Poppins";
    src: url("../Fonts/Poppins-Regular.otf");
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins";
    box-sizing: border-box;
    text-emphasis: none;
   
}

body {
    background: rgba(54, 49, 49, 0.726);
    padding: 5px 0.5% 5px 0.5%;
    width: 100%;
}

/*  products*/
.containerProducts {
    background-image: url("../Fonts/images/pexels-photo-1319462.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
}

.products {
    background-color: rgba(200, 164, 170, 0.9);
    padding-top : 150px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: #ffff;

}

.products .title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size : 3em;
}
.products .text {
    margin-top :2%;
    padding-bottom: 2%;
}
.products .text img{
    height: 100px;
    width: 120px ;
    position: absolute;
    bottom: 50%;
    left: 50%;
    object-fit: cover;
}

.products p{
    text-align: center;
}

/* Gallery */
.containerGallery {
    background: white ;
}
.gallery > div {
    margin-top: 5%;
    margin-bottom: 5%;
}
.gallery img {
    height:  400px;
    width: 200px;

}


@media screen and (max-width: 768px){
    .products {
        padding-top : 20px;
    }
    .gallery img {
        height:  200px;
        width: 400px;
    }
    .products img{
        width: 200px;
    }
    
}

@media screen and (max-width: 576px) {
    .formContainer .text h2 {
        font-size: 1.5em;
        color: black;
        overflow: hidden;
        margin-bottom: 20px;
    
    }
    
}