@font-face {
    font-family: "MyriadPro";
    src: url("../Fonts/MyriadPro-Regular.otf");

}

@font-face {
    font-family: "Poppins";
    src: url("../Fonts/Poppins-Regular.otf");
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins";
    box-sizing: border-box;
    text-emphasis: none;
   
}

body {
    background: rgba(54, 49, 49, 0.726);
    padding: 5px 0.5% 5px 0.5%;
    width: 100%;
}


/*  Good*/
.containerGood {
    background-image: url("../Fonts/images/pexels-photo-1319460.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border: solid rgb(32, 32, 32) 1px;
}

.good {
    background-color: rgba(189, 164, 164, 0.8);
    padding-top : 16%;
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: #ffff;

}

.good .title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size : 3em;
}

.good .text img{
    height: 100px;
    width: 120px ;
    position: absolute;
    bottom: 50%;
    left: 50%;
}

.good .button {
    margin: auto;
    width: 0; 
    height: 0; 
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #212023;
    
}

.good .button:hover {
    cursor: pointer;
}

/* Cuts */
.containerCuts {
    background: #212023;
    height: 600px;
}

.cuts{
    height: 100%;
    padding-top: 5%;
}

.cuts .cards {
    overflow: hidden;
    height: 70%;
    color: white;
    display: flex;
    justify-content: space-between;

}

.cuts .cards > div > div {
    border: #ffff 0.5px solid;
    height: 380px;
    width: 200px;
}

.cuts .cards div div  {
    text-align:  center;
    margin: auto;

}

.cuts .cards img {
    height: 50px;
    width: 50px;
    margin-top: 20%;
}

.cuts .cards div div div {
    margin-top: 30%;
}

.cuts .button div div {
    color:  white ;
    width: fit-content;
    padding: 1%;
    border:0.5px solid white ;
    border-radius: 20px ; 
    margin: auto;
    font-size: 2em;
}

.cuts .button {
    height: 30%;
    align-content: center;
}

.cuts div .one{
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

.cuts div .two{
    border-radius: 20px;
}

.cuts div .three{
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}

/* Call */
.containerCall {
    background: black;
}

.call img {
    height: 100%;
    width: 100%;
    margin: auto;
}

.call .images {
    margin-top: 10%;
  
}

.call .names {
    margin-top: 2%;
    text-align: center;
    color : white;
    margin-bottom: 5%;
}

.call .names h2{
    font-size: 3em ;
    overflow: hidden;
    font-weight: bold;
}

.call .names p{
    font-size: 1.2em ;
    overflow: hidden;
    font-weight: bold;
}

/* Service */
.containerService {
    background-image: url("../Fonts/images/pexels-photo-2809652.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.service {
    background-color: rgba(189, 164, 164, 0.8);
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: black;
}
.service  .one {
    margin-top: 10%;
}
.service  .two {
    margin-top: 5%;
    margin-bottom: 10%;
}
.service .img {
    text-align: center;
}
.service img {
    width: 300px;
    height: 400px;
}
.service h2{
    overflow: hidden;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
.service p{
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    font-size: 1em;
    font-weight: bold;
}

