@font-face {
    font-family: "MyriadPro";
    src: url("../Fonts/MyriadPro-Regular.otf");

}

@font-face {
    font-family: "Poppins";
    src: url("../Fonts/Poppins-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins";
    box-sizing: border-box;

}



/*  Good*/
.containerGood {
    background-image: url("../Fonts/images/pexels-photo-1319460.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

.good {
    background-color: rgba(125, 104, 104, 0.7);
    padding-top: 16%;
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: #ffff;

}

.good .title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3em;
}

.good .text img {
    height: 100px;
    width: 120px;
    position: absolute;
    bottom: 50%;
    left: 50%;
}

.good .button {
    margin: auto;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #212023;

}

.good .button:hover {
    cursor: pointer;
}

.containerButton a{
    text-decoration: none;
}

/* Cuts */
.containerCuts {
    background: #212023;
    height: 600px;
}

.containerC{
    display: flex;
    justify-content: center;
    text-align: center;
}
.cardCut{
    margin-top: 50px;
    width: 300px;
    height: 500px;
    border: 1px;
    border: 1px solid white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #ffff;
}

.cardCut img{
    margin-top: 50px;
    width: 200px;
}
.cardCut p{
    margin-top: 50px;
    font-size: 14pt ;
}



/* Call */
.containerCall {
    background: black;
}

.call img {
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: cover;
}

.call .images {
    margin-top: 10%;

}

.call .names {
    margin-top: 2%;
    text-align: center;
    color: white;
    margin-bottom: 5%;
}

.call .names h2 {
    font-size: 3em;
    overflow: hidden;
    font-weight: bold;
}

.call .names p {
    font-size: 1.2em;
    overflow: hidden;
    font-weight: bold;
}

/* Service */
.containerService {
    background-image: url("../Fonts/images/pexels-photo-2809652.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.service {
    background-color: rgba(189, 164, 164, 0.8);
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: black;
}

.service .one {
    margin-top: 10%;
}

.service .two {
    margin-top: 5%;
    margin-bottom: 10%;
}

.service .img {
    text-align: center;
}

.service img {
    width: 300px;
    height: 400px;
}

.service h2 {
    overflow: hidden;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.service p {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    font-size: 1em;
    font-weight: bold;
}

.hiddeComputer{
    display: none;
}

.namesMobile{
    display: none;
}
@media screen and (max-width: 768px){

    .hiddeTable{
        display: none;
    }
    .hiddeComputer{
        display: initial;
    }

    .good{
        padding-top: 0;
    }
    .imgGood img{
       width: 200px;
    }
    
}

@media screen and (max-width: 576px) {

    .containerCuts{
        height: 100%;
    }
    .containerC{
        margin-bottom: 40px;
    }

    .images img{
        width: 350px;
        height: 350px;
        margin-bottom: 20px;

    }
    .names{
        display: none;
    }
    .namesMobile{
        display: initial;
        text-align: center;
        color: #ffff;
    } 
    .service p {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        font-size: 1em;
  
    }
    
}